// Common styles of the project

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;

    // @media screen and (min-width: 1600px) {
    //     font-size: 1vw;
    // }
}

body {
    margin: 0;
    padding: 0;
    font-size: rem(14);
    line-height: 1.25;
    font-weight: 400;
    font-family: $font_normal;
    color: $grey_4x;
    text-rendering: optimizeLegibility;
    animation: fade_in 1s;
}

.page-wrapper {
    position: relative;
    min-height: 100%;
    background-color: $grey_1x;
}

// Fade in

@keyframes fade_in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
