// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

// Rems:

@function rem($num) {
    $strip-unit: $num / ($num * 0 + 1);
    @return $strip-unit / 16 * 1rem;
}

// Media:

@mixin screen_1200_min_width {
    @media screen and (min-width: 1200px) {
        @content;
    }
}