.info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: rem(104) rem(364) rem(19) rem(123);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $grey_3x transparent;

    &::-webkit-scrollbar {
        width: rem(6);
        height: rem(6);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey_3x;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
