.title {
    margin: 0;
    font-weight: 500;
    color: $grey_5x;

    &_large {
        font-size: rem(40);
    }

    &_middle {
        font-size: rem(32);
    }

    &_small {
        font-size: rem(26);
    }
}
