.info-item {
    padding: rem(32) rem(24);

    & + .info-item {
        border-top: 1px solid $grey_2x;
    }

    &__title {
        font-size: rem(18);
    }

    &__header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        & + .info-item__address,
        & + .info-item__text,
        & + .info-item__search {
            margin-top: rem(24);
        }
    }

    &__address,
    &__text {
        padding: 0 rem(8);
    }
}
